@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

    
}
.logo
{
    
    width: 100px;
}
.nav ul
{
    display: flex;
    list-style-type: none;
    font-size: 20px;

}
.nav ul li{
    padding: 10px;
    margin: 10px;
   
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.log-btn
{
   height: 30px;
   margin-top: 15px;
   text-align: center;
   width: 50px;
    margin-right: 10px;
    cursor: pointer;    
}
.res-card
{
   
    width: 200px;
    
    margin: 10px;
    height: 400px;
   
   
}

.res-card h4 , h5{
    padding: 5px;
    word-break: break-word;
}
.filter
{
    padding: 10px;
}
.res-container
{
    display: flex; 
    
    flex-wrap: wrap;
    padding-left: 75px;
  
}
.res-container a{
    color: black;
    text-decoration: none;
}
.res-img
{
    width: 200px;
    height: 225px;
}

.filter-btn
{
   
    width: 10%;
    margin-left: 10px;
}

.filter{
    display: flex;
    padding-left: 70px;

}

.shimmer-body
{
    padding: 10px;
}
.shimmer-filter
{
    display: flex;
    padding-left: 70px;
 
}
.shimmer-search
{
    width: 225px;
    height: 25px;
    background-color : #f0f0f0;
}
.shimmer-filter-btn
{
    width: 150px;
    height: 25px;
    background-color : #f0f0f0;
    margin-left: 10px;
}
.shimmer-container
{
    display: flex; 
    
    flex-wrap: wrap;
    padding-left: 80px;
   
}
.shimmer-card
{
    width: 200px;
    height: 300px;
    background-color : #f0f0f0;
    margin: 10px;

}
.item_body
{
    display: flex;
    justify-content: center;
}
.item_container
{
    display: flex;
    height: 182px;
    width: 770px;
    justify-content: space-between;
    border-bottom: 2px solid #f0f0f0;
}
.item_image
{
    margin-left: 50px;
    
}
.food_image
{
    width: 156px;
    height: 144px;
    margin-top: 20px;
    border-radius: 12px;
   
    
}
.item_data
{
    width: 590px;
    align-items: center;
    margin-top: 20px;
}
.item_name
{
    font-family: Basis_Grotesque_Pro_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.item_price
{
    font-family: Basis_Grotesque_Pro;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
}
.item_des
{
    font-family: Basis_Grotesque_Pro;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(16, 16, 18, 0.6);
    margin-top: 12px;
    word-break: break-word;
}
.res_details
{
    display: flex;
    justify-content: center;
    

}
.res_name
{
   
    border-radius: 12px ;
    width: 780px;
    height: 130px;
    margin-top: 20px;
}
.res_details .res_name  h2{
    color: rgba(232, 78, 86, 0.886);
}
.res_details .res_name  h3{
    color: rgba(17, 18, 18, 0.886);
}
.menu
{
    display: flex;
   
    justify-content: center;
    align-items: center;
    padding: 32px 0px 50px;
    height: 100%;
    width: 100%;
}
.menu_name
{
    
    font-family: Basis_Grotesque_Pro;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    text-decoration: underline;
} */